.headerlogo { 
  background: #1f2937; 
  font-family: 'Roboto', sans-serif; 
  font-weight: 24px; 
  font-color: #f9faf8; 
} 

.headerlinks div { 
  background: #1f2937; 
  font-family: 'Roboto', sans-serif; 
  font-weight: 18px; 
  font-color: #e5e7eb; 
  flex: 1 1 0%; 
} 
  
  
